body{
    margin: 0;
    padding: 0;
}

.tipHeader{
    background: gray;
    width: 66%;
    left:15%;
    padding: 15px;
    text-align: center;
    position: absolute;
    font-size: 25px;
}

.tipFooter{
    background: gray;
    width: 10%;
    bottom: 1px ;
    padding: 15px;
    text-align: center;
    position: absolute;
    font-size: 20px;
}